In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly as py
import plotly.graph_objs as go
from sklearn.cluster import KMeans
import warnings
import os
import sklearn

from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report
from scipy import stats

warnings.filterwarnings("ignore")
py.offline.init_notebook_mode(connected = True)

In [2]:
data = pd.read_csv(r'./datos/Admission_Predict.csv')
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Caracteristicas del dataset
GRE Score: General Test Score
TOEFL Score: Examen de Ingles
University Rating: Calificacion de la universidad (1 a 5)
SOP: Calificacion de declaracion de proposito
LOR: Calificacion de Carta de Recomendacion
CGPA: Licenciatura GPA (1 a 10)
Research: Experiencia en investigacion (SI o NO)
Chance of Admit: Posibilidades de ser admitido (0 a 1)

In [3]:
data.shape

(400, 9)

In [4]:
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [5]:
data.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [6]:
X = data.ix[:,(0,1,2,3,4,5,6,7)].values
y = data.ix[:,8].values #Separacion de variable a predecir y las features

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state=25) # Entrenamiento

In [10]:
LogReg = LogisticRegression() #regresion logistica
LogReg.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'